
/* ---------------- UI ---------------- */

/* Buttons */

button {
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #f5f5f5;
    border-radius: 20px;
}

button:hover {
    opacity: 0.8;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 15px;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    /* min-width: 250px; */
    box-shadow: 0px 25px 70px rgba(0, 0, 0, 0.1);
    z-index: 4000;
    margin: 0;
    padding: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.dropdown-content a:hover {background-color: #f5f5f5;}

.dropdown:hover .dropdown-content {display: block;}


/* Snackbar */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 100px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

/* Notification */

#notification {
    visibility: hidden;
    min-width: 250px;
    /* margin-left: -125px; */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50px;
    top: 50px;
    z-index: 30000;
}

#notification.show {
    visibility: visible;
    animation: fadeinNotif 0.5s;
}

@keyframes fadeinNotif {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
}