#pb_header {
    width: 100%;
    user-select: none;
}

#pb_header > div, #listBar > div:first-of-type {
    line-height: calc(var(--cell));
    padding: 0 15px;
    height: var(--cell);
    border-bottom: var(--border);
}

#pb_header a:not(:last-child) {
    margin-right: calc(var(--cell)/2);
}

#pb_header > div:last-child > a:last-child {
    float: right;
}

#pb_header a > span[data-responsive]:after {
    position: relative;
    left: 10px;
    content: "/";
    opacity: .4;
}

#pb_header img:first-of-type {
    width: 60px;
    vertical-align: -2px;
}

#boardSettings > div {
    max-width: 190px;
}