/* ListBar */

#listBar {
    /* z-index: 2; */
    top: calc(var(--cell) + 1px);
    left: 0;
    width: 100%;
    height: calc(100% - var(--cell));
    transition: var(--curve);
}

#listBar.hidden {
    left: calc(0px - 100% - var(--cell)*2);
}

/* padding: calc(var(--cell)/3); */