@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i&subset=cyrillic');

@import url('https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css');
@import "css-loader.css";
@import "farbtastic.css";
@import "ui.css";
@import "header.css";
@import "listBar.css";
@import "pinBar.css";
@import "canvasBar.css";
@import "thumbsBar.css";
@import "toolbar.css";


:root {
    --cell: 40px;
    --border: 1px solid #ebebeb;
    --curve: .3s ease-in-out;
    --shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    --big-shadow: 0 5px 20px rgba(0,0,0,.075);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: #e6e6e6;
}

#pinboard {
    position: fixed;
    left: 0; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
}

#canvas-container {
    position: absolute;
    top: calc(var(--cell)*2);
    transition: 0.2s;
}

#canvas-container.over {
    opacity: 0.3;
}





/* Responsive */

[data-responsive="only_portrait"] {display: none;}
[data-responsive="not_portrait"] {display: inline-block;}
[data-responsive="tablet"] {display: none;}

/* Small portrait phones */
@media (max-width: 357.98px) {
    body {font-size: 0.8rem;}
    #pb_header a:not(:last-child) {margin-right: calc(var(--cell)/3);}
    #pb_header img:first-of-type {width: 50px;}
    #thumbsBar {width: calc(var(--cell)*1.7);}
    #collageBar {width: 200px;}
    [data-responsive="only_portrait"] {display: inline-block;}
    [data-responsive="not_portrait"] {display: none;}
    #toolbar_label {right: calc(var(--cell)*2);}
    #toolbar_label_first {width: 140px;}
    #pinBar > div {padding: 25px 15px;}
    #textOptions > div:first-of-type {margin-right: 30px;}
    button {padding: 10px 10px}
    #trash {width: calc(var(--cell)*2 - 12px)}
}

/* Modern portrait phones */
@media (min-width: 358px) and (max-width: 467.98px) {
    body {font-size: 0.9rem;}
    #pb_header a:not(:last-child) {margin-right: calc(var(--cell)/3);}
    #collageBar {width: 240px;}
    [data-responsive="only_portrait"] {display: inline-block;}
    [data-responsive="not_portrait"] {display: none;}
    #toolbar_label_first {width: 160px;}
}

/* Landscape phones */
@media (min-width: 468px) and (max-width: 767.98px) { 
    body {font-size: 0.9rem;}
    .dd-center {left: 0;}
    .dd-right {left: 0;}
}

/* Tablets, notebooks & desktops */
@media (min-width: 768px) { 
    #pinboard {left: 80px; width: calc(100% - 80px);}
    [data-responsive="tablet"] {display: inline-block;}
    .dd-center {left: 0;}
    .dd-right {left: 0;}   
    .dropdown-content button:last-child {display: inline;}
}