/* ThumbsBar */

#thumbsBar {
    top: calc(var(--cell) + 1px);
    right: 0;
    width: calc(var(--cell)*2);
    height: calc(100% - var(--cell));
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: var(--shadow);
    transition: var(--curve);
    user-select: none;
}

#thumbsBar div:first-child {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--cell);
    border-bottom: var(--border);
    background: white;
}

#thumbsBar.hidden {
    right: -85px;
}


/* Thumbs */

#thumbs {
    padding-bottom: calc(var(--cell));
}

#thumbs img {
    display: block;
    width: var(--cell);
    margin: calc(var(--cell)/2) auto;
}

#thumbs img:hover {
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}

#thumbs img.hovered {
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}

#thumbs img.active {
    outline: 5px solid rgba(0,191,255);
}


.sortable-drag {
    outline: 5px solid rgba(0,191,255,0.5);
}

/* Thumbar */

#thumbBar {
    position: absolute;
    z-index: 10000;
    display: none;
    padding: 6px 8px;
    background: white;
    color: orange;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    font-weight: bold;
}

#thumbBar:hover {
    color: red;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

/* Trash */

#trash {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--cell)*2);
    height: var(--cell);
    border-top: var(--border);
    background: white;
}

#trash img {
    width: var(--cell);
}

#trash.active {
    background: #f5f5f5;
}

#trash.ready i {
    color: orange;
}

#trash.active i {
    color: red;
}


