@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

#screen {
    position: relative;
}

#screen > * {
    position: absolute;
    transition: .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#setting {
    width: 667px;
}

#circle {
    top: 167px;
    width: 243px;
    cursor: pointer;
}

#start {
    top: 220px;
    left: 62px;
    color: #ece996;
    text-shadow: 0 20px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#ui {
    width: 667px;
    display: none;
    opacity: 0;
}

#showChest {
    display: none;
}

#chest {
    width: 667px;
    display: none;
    opacity: 0;
}

.fadein {
    opacity: 1 !important;
}

.fadeout {
    opacity: 0 !important;
}